*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    

}
.all{
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: 500px;
}
.image{
    margin-left: 200px;
    margin-top: 100px;

}
#klix{
    width: 300px;
    height: 800px;
}
.form{
    background-color: white;
    display: flex;
    width: 500px;
    margin-top: 0px;
    background: url("lala (2).jpg") ;
    color: white;
    display: flex;
    
    height: 800px;
    
    


}
#other{
    margin-top: 50px;
    margin-bottom: 50px;
    display: center;
    align-items: center;
    margin-left: 50px;


}
#info{
    margin-left: 100px;
    margin-top: 50px;
    align-items: center;
    display: center;
    width: 300px;



}
#card{
    margin-left: 100px;
    margin-top: 50px;
    align-items: center;
    display: center;
    width: 300px;

}
#butt{
    margin-left: 50px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color:white;
    border-style: solid 3px;
    border: #3498db;
    align-items: center;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    transform: translate(-50% -50%);



}
label{
    margin-left: 100px;
    margin-bottom: 20px;
    color: #f89104;
    font-size: 1.2em;
    font-family:sans-serif;
    text-align: center;
    
}
   

fieldset{
    color:#f89104;
    font-size: 1.2em;
    font-family: cursive;
    align-items: center;
}
#butt1{
    margin-left: 0px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color:#f89104;
    border-style: solid 3px;
    border: #f89104;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    color: white;
    margin-left: 150px;


}
select{
    margin-left: 100px;
    width: 100px;
    height: 30px;
    background-color: springgreen;
    border-radius: 10px;
}
.h3 h3{
    text-align: center;
    font-size: 1.6em;
    font-family:cursive;
}
#haha{
     
    color:#2d1bca;
}
input{
    align-items: center;
    transform: translate(-50% -50%);


}

    


